body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: max(15vh, 60px);
}

main {
    width: 100%;
    max-width: 440px;
}

#recent-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}